$break-small: 324px;
$break-medium: 768px;

.content {
  width: 100%;
  padding: 0;

  @media only screen and (min-width: $break-small) {
    width: 64.66%;
  }

  @media only screen and (min-width: $break-medium) {
    width: 50%;
  }
}

.details {
  text-align: center;
  background-color: white;
  margin: 35px 0;
  font-size: 14px;

  li {
    padding: 3%;
    width: 100%;
    line-height: 18px;
  }

  li:first-child {
      border-bottom: 5px #7EADD5 solid;
  }

  p {
    text-transform: uppercase;
    color: #BABABA;
    font-weight: 100;
  }


  strong {
    font-weight: bold;
    color: #53514F;
  }

  @media only screen and (min-width: $break-small) {
    box-shadow: 1px 1px 2px rgb(181, 179, 176);
    font-size: 10px;
    margin: 6% 0;
    li {
      width: 25%;
    }
  }

  @media only screen and (min-width: 700px) {
    font-size: 14px;
  }
}

.tweets {
  background-color: white;
  color: #737270;

  @media only screen and (min-width: $break-small) {
    box-shadow: 1px 1px 2px rgb(181, 179, 176);
  }

  li {
    padding: 25px;
    border-bottom: 1px #D3D2D2 solid;

    .col-left {
      width: 16.66%;
      text-align: center;
      padding-right: 3%;
      @media only screen and (min-width: $break-small) {
        width: 10.5%;
      }
    }

    .col-right {
      width: 83.33%;
      @media only screen and (min-width: $break-small) {
        width: 87.5%;
      }
    }

    .avatar {
      width: 100%;
      border-radius: 50%;
    }

    p.info{
      color: #A3A19E;
      font-weight: lighter;

      .name{
        font-weight: bold;
        font-size: 100%;
        color: #53514F;
      }
      span {
        font-size: 80%;
      }
      .time {
        float: right;
      }
    }

    .description {
      line-height: 20px;
      font-size: 90%;
      padding-top: 10px;
      width: 100%;
    }
  }

  section.share {
    color: rgb(177, 178, 177);
    padding-top: 20px;

    * {
      padding-right: 5px;
      font-size: 110%;
    }

    :last-child {
      float: right;
      font-size: 120%;
    }
  }
}
