$break-small: 320px;
$break-medium: 768px;

header {
  @media only screen and (min-width: $break-small) {
  }

  @media only screen and (min-width: $break-medium) {
  }
}

.social {
  background-color: #8BBCE5;
}

.icon {
  background-color: rgb(247, 188, 188);
}

.search{
  background-color: rgb(239, 225, 157);
}
