$break-small: 324px;
$break-medium: 768px;

.interest {
  display: none;
  background-color: white;
  padding: 15px;

  @media only screen and (min-width: $break-small) {
  }

  @media only screen and (min-width: $break-medium) {
    display: block;
    margin-left: 4%;
    width: 21%;
  }
}
