/* line 1, ../sass/grid.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/grid.scss */
.col-1 {
  width: 8.33%;
}

/* line 6, ../sass/grid.scss */
.col-2 {
  width: 16.66%;
}

/* line 7, ../sass/grid.scss */
.col-3 {
  width: 25%;
}

/* line 8, ../sass/grid.scss */
.col-4 {
  width: 33.33%;
}

/* line 9, ../sass/grid.scss */
.col-5 {
  width: 41.66%;
}

/* line 10, ../sass/grid.scss */
.col-6 {
  width: 50%;
}

/* line 11, ../sass/grid.scss */
.col-7 {
  width: 58.33%;
}

/* line 12, ../sass/grid.scss */
.col-8 {
  width: 66.66%;
}

/* line 13, ../sass/grid.scss */
.col-9 {
  width: 75%;
}

/* line 14, ../sass/grid.scss */
.col-10 {
  width: 83.33%;
}

/* line 15, ../sass/grid.scss */
.col-11 {
  width: 91.66%;
}

/* line 16, ../sass/grid.scss */
.col-12 {
  width: 100%;
}

/* line 18, ../sass/grid.scss */
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* line 23, ../sass/grid.scss */
.row::after {
  content: " ";
  clear: both;
  display: block;
}
