/* line 12, ../sass/header.scss */
.social {
  background-color: #8BBCE5;
}

/* line 16, ../sass/header.scss */
.icon {
  background-color: #f7bcbc;
}

/* line 20, ../sass/header.scss */
.search {
  background-color: #efe19d;
}
