/* line 4, ../sass/interest.scss */
.interest {
  display: none;
  background-color: white;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/interest.scss */
  .interest {
    display: block;
    margin-left: 4%;
    width: 21%;
  }
}
