/* line 4, ../sass/profile.scss */
.profile {
  background-color: #fcb4f3;
  display: none;
  padding: 15px;
}
@media only screen and (min-width: 324px) {
  /* line 4, ../sass/profile.scss */
  .profile {
    display: block;
    width: 33.33%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/profile.scss */
  .profile {
    width: 25%;
  }
}
