/* line 4, ../sass/profile.scss */
.profile {
  background-color: #7EADD5;
  display: none;
  padding: 3% 0;
  margin-right: 4%;
  width: 31.33%;
  font-weight: 100;
  text-rendering: geometricPrecision;
}
@media only screen and (min-width: 324px) {
  /* line 4, ../sass/profile.scss */
  .profile {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/profile.scss */
  .profile {
    margin-right: 4%;
    width: 21%;
  }
}
/* line 22, ../sass/profile.scss */
.profile .info {
  text-align: center;
  color: white;
  padding: 10px;
}
/* line 27, ../sass/profile.scss */
.profile .info .avatar {
  width: 45%;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  /* line 27, ../sass/profile.scss */
  .profile .info .avatar {
    width: 40%;
  }
}
/* line 35, ../sass/profile.scss */
.profile .info .name {
  line-height: 45px;
  font-weight: bold;
  padding-top: 15px;
  font-size: 105%;
}
/* line 42, ../sass/profile.scss */
.profile .info .introduction {
  font-size: 90%;
  line-height: 20px;
}
/* line 47, ../sass/profile.scss */
.profile .info a {
  line-height: 60px;
  text-decoration: none;
  color: white;
}
/* line 53, ../sass/profile.scss */
.profile .info .fa-chain {
  font-size: 80%;
  margin-right: 3px;
}
/* line 58, ../sass/profile.scss */
.profile .info button {
  display: block;
  margin: auto;
  padding: 10px 50px;
  font-size: 80%;
  font-weight: 100;
  background-color: #6F97B8;
  border: none;
  border-radius: 20px;
  color: white;
}
/* line 71, ../sass/profile.scss */
.profile .pictures {
  margin: 10% 0;
}
/* line 73, ../sass/profile.scss */
.profile .pictures img {
  width: 33.33%;
  float: left;
}
/* line 79, ../sass/profile.scss */
.profile .pictures::after {
  content: " ";
  clear: both;
  display: block;
}
/* line 85, ../sass/profile.scss */
.profile .activities {
  padding: 0 10px;
  color: white;
}
/* line 89, ../sass/profile.scss */
.profile .activities p.title {
  text-transform: uppercase;
  padding-bottom: 15px;
}
/* line 94, ../sass/profile.scss */
.profile .activities li {
  line-height: 25px;
  font-size: 85%;
  color: #5E809C;
}
/* line 99, ../sass/profile.scss */
.profile .activities li span {
  padding-right: 3px;
}
/* line 103, ../sass/profile.scss */
.profile .activities li a {
  color: white;
  font-size: 90%;
}
