/* line 5, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/grid.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/grid.scss */
.col-1 {
  width: 8.33%;
}

/* line 6, ../sass/grid.scss */
.col-2 {
  width: 16.66%;
}

/* line 7, ../sass/grid.scss */
.col-3 {
  width: 25%;
}

/* line 8, ../sass/grid.scss */
.col-4 {
  width: 33.33%;
}

/* line 9, ../sass/grid.scss */
.col-5 {
  width: 41.66%;
}

/* line 10, ../sass/grid.scss */
.col-6 {
  width: 50%;
}

/* line 11, ../sass/grid.scss */
.col-7 {
  width: 58.33%;
}

/* line 12, ../sass/grid.scss */
.col-8 {
  width: 66.66%;
}

/* line 13, ../sass/grid.scss */
.col-9 {
  width: 75%;
}

/* line 14, ../sass/grid.scss */
.col-10 {
  width: 83.33%;
}

/* line 15, ../sass/grid.scss */
.col-11 {
  width: 91.66%;
}

/* line 16, ../sass/grid.scss */
.col-12 {
  width: 100%;
}

/* line 18, ../sass/grid.scss */
[class*="col-"] {
  float: left;
}

/* line 22, ../sass/grid.scss */
.row::after {
  content: " ";
  clear: both;
  display: block;
}

/* line 12, ../sass/header.scss */
.social {
  background-color: #8BBCE5;
  padding: 15px;
}

/* line 17, ../sass/header.scss */
.icon {
  background-color: #f7bcbc;
  padding: 15px;
}

/* line 22, ../sass/header.scss */
.search {
  background-color: #efe19d;
  padding: 15px;
}

/* line 4, ../sass/profile.scss */
.profile {
  background-color: #7EADD5;
  display: none;
  padding: 3% 0;
  margin-right: 4%;
  width: 31.33%;
  font-weight: 100;
  text-rendering: geometricPrecision;
}
@media only screen and (min-width: 324px) {
  /* line 4, ../sass/profile.scss */
  .profile {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/profile.scss */
  .profile {
    margin-right: 3%;
    width: 22%;
  }
}
/* line 22, ../sass/profile.scss */
.profile .info {
  text-align: center;
  color: white;
  padding: 10px;
}
/* line 27, ../sass/profile.scss */
.profile .info .avatar {
  width: 45%;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  /* line 27, ../sass/profile.scss */
  .profile .info .avatar {
    width: 40%;
  }
}
/* line 35, ../sass/profile.scss */
.profile .info .name {
  line-height: 45px;
  font-weight: bold;
  padding-top: 15px;
  font-size: 105%;
}
/* line 42, ../sass/profile.scss */
.profile .info .introduction {
  font-size: 90%;
  line-height: 20px;
}
/* line 47, ../sass/profile.scss */
.profile .info a {
  line-height: 60px;
  text-decoration: none;
  color: white;
}
/* line 53, ../sass/profile.scss */
.profile .info .fa-chain {
  font-size: 80%;
  margin-right: 3px;
}
/* line 58, ../sass/profile.scss */
.profile .info button {
  display: block;
  margin: auto;
  padding: 10px 50px;
  font-size: 80%;
  font-weight: 100;
  background-color: #6F97B8;
  border: none;
  border-radius: 20px;
  color: white;
}
/* line 71, ../sass/profile.scss */
.profile .pictures {
  margin: 10% 0;
}
/* line 73, ../sass/profile.scss */
.profile .pictures img {
  width: 33.33%;
  float: left;
}

/* line 4, ../sass/content.scss */
.content {
  width: 100%;
  padding: 0;
}
@media only screen and (min-width: 324px) {
  /* line 4, ../sass/content.scss */
  .content {
    width: 64.66%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/content.scss */
  .content {
    width: 50%;
  }
}

/* line 17, ../sass/content.scss */
.details {
  text-align: center;
  background-color: white;
  margin: 35px 0;
  font-size: 14px;
}
/* line 23, ../sass/content.scss */
.details li {
  padding: 3%;
  width: 100%;
  line-height: 18px;
}
/* line 29, ../sass/content.scss */
.details li:first-child {
  border-bottom: 5px #7EADD5 solid;
}
/* line 33, ../sass/content.scss */
.details p {
  text-transform: uppercase;
  color: #BABABA;
  font-weight: 100;
}
/* line 40, ../sass/content.scss */
.details strong {
  font-weight: bold;
  color: #53514F;
}
@media only screen and (min-width: 324px) {
  /* line 17, ../sass/content.scss */
  .details {
    box-shadow: 1px 1px 2px #b5b3b0;
    font-size: 10px;
    margin: 6% 0;
  }
  /* line 49, ../sass/content.scss */
  .details li {
    width: 25%;
  }
}
@media only screen and (min-width: 700px) {
  /* line 17, ../sass/content.scss */
  .details {
    font-size: 14px;
  }
}

/* line 59, ../sass/content.scss */
.tweets {
  background-color: white;
  color: #737270;
}
@media only screen and (min-width: 324px) {
  /* line 59, ../sass/content.scss */
  .tweets {
    box-shadow: 1px 1px 2px #b5b3b0;
  }
}
/* line 67, ../sass/content.scss */
.tweets li {
  padding: 25px;
  border-bottom: 1px #D3D2D2 solid;
}
/* line 71, ../sass/content.scss */
.tweets li .col-left {
  width: 16.66%;
  text-align: center;
  padding-right: 3%;
}
@media only screen and (min-width: 324px) {
  /* line 71, ../sass/content.scss */
  .tweets li .col-left {
    width: 10.5%;
  }
}
/* line 80, ../sass/content.scss */
.tweets li .col-right {
  width: 83.33%;
}
@media only screen and (min-width: 324px) {
  /* line 80, ../sass/content.scss */
  .tweets li .col-right {
    width: 87.5%;
  }
}
/* line 87, ../sass/content.scss */
.tweets li .avatar {
  width: 100%;
  border-radius: 50%;
}
/* line 92, ../sass/content.scss */
.tweets li p.info {
  color: #A3A19E;
  font-weight: lighter;
}
/* line 96, ../sass/content.scss */
.tweets li p.info .name {
  font-weight: bold;
  font-size: 100%;
  color: #53514F;
}
/* line 101, ../sass/content.scss */
.tweets li p.info span {
  font-size: 80%;
}
/* line 104, ../sass/content.scss */
.tweets li p.info .time {
  float: right;
}
/* line 109, ../sass/content.scss */
.tweets li .description {
  line-height: 20px;
  font-size: 90%;
  padding-top: 10px;
  width: 100%;
}
/* line 117, ../sass/content.scss */
.tweets section.share {
  color: #b1b2b1;
  padding-top: 20px;
}
/* line 121, ../sass/content.scss */
.tweets section.share * {
  padding-right: 5px;
  font-size: 110%;
}
/* line 126, ../sass/content.scss */
.tweets section.share :last-child {
  float: right;
  font-size: 120%;
}

/* line 4, ../sass/interest.scss */
.interest {
  display: none;
  background-color: #fcb4f3;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/interest.scss */
  .interest {
    display: block;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-grvpaa");
  src: url("../fonts/icomoon.eot?#iefix-grvpaa") format("embedded-opentype"), url("../fonts/icomoon.woff?-grvpaa") format("woff"), url("../fonts/icomoon.ttf?-grvpaa") format("truetype"), url("../fonts/icomoon.svg?-grvpaa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/fonts.scss */
[class^="fa-"], [class*=" fa-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/fonts.scss */
.fa-redo:before {
  content: "\e601";
}

/* line 30, ../sass/fonts.scss */
.fa-star:before {
  content: "\f005";
}

/* line 34, ../sass/fonts.scss */
.fa-refresh::before {
  content: "\f021";
}

/* line 38, ../sass/fonts.scss */
.fa-more-horiz:before {
  content: "\e606";
}

/* line 42, ../sass/fonts.scss */
.fa-resize:before {
  content: "\e603";
}

/* line 46, ../sass/fonts.scss */
.fa-chain:before {
  content: "\f0c1 ";
}

/* line 10, ../sass/style.scss */
body {
  background-color: #EFE7D8;
  font-family: sans-serif;
}
